/* elemento.component.css */
/* En tu archivo CSS correspondiente (por ejemplo, listado.component.css) */
.centered-message {
  text-align: center; /* Centra el texto horizontalmente */
  margin: 20px 0; /* Espaciado superior e inferior */
  color: black;
  font-size: 20px;
}
