<mat-card>
  <mat-card-content>
    <div *ngIf="mensaje" class="centered-message">
      <p>{{ mensaje }}</p>
    </div>

    <!-- Mensaje si no hay tareas -->
    <div *ngIf="tareas.length === 0" class="centered-message">
      <p>No hay tareas disponibles.</p>
    </div>

    <!-- Lista de tareas -->
    <mat-list *ngIf="tareas.length > 0">
      <mat-list-item *ngFor="let tarea of tareas">
        <app-elemento
          [tarea]="tarea"
          (tareaEliminada)="eliminarTarea($event)"
          (tareaActualizada)="actualizarTarea($event)">
        </app-elemento>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
