/* elemento.component.css */

/* Estilo para el contenedor de la lista */
mat-list {
  background-color: #484848; 
  border-radius: 8px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
  padding: 5px; 
  margin: 5pt auto; /* Centrar el contenedor horizontalmente */
  width: 70%; 
}

/* Estilo para cada elemento de la lista */
mat-list-item {
  padding: 10px; /* Espaciado interno para cada elemento */
}

/* Contenedor de la tarea */
.tarea-container {
  display: flex;
  flex-direction: column; /* Coloca los elementos en columnas */
  align-items: center; /* Centra el nombre de la tarea */
}

/* Estilo para el nombre de la tarea */
.tarea-nombre {
  font-size: 20px; 
  font-weight: bold; 
  color: #000000; 
  width: 100%; 
  text-align: center; /* Centra el texto del nombre */
}

/* Estilo para la descripción de la tarea */
.tarea-descripcion {
  font-size: 16px; 
  color: #000000; 
  margin-bottom: 8px; /* Espaciado entre la descripción y los botones */
  text-align: left; /* Alinea el texto de la descripción a la izquierda */
  width: 100%; 
}


/* Clase para tareas completadas */
.tarea-completada {
  background-color: #c8e6c9; 
}

/* Clase para tareas pendientes */
.tarea-pendiente {
  background-color: #ffcdd2; 
}

/* Contenedor para los botones */
.botones-container {
  display: flex; /* Para alinear los botones en línea */
  justify-content: center; /* Centra los botones horizontalmente */
  margin-top: 8px; 
}

/* Estilo para los botones */
button {
  margin-left: 8px; 
  transform: scale(0.9); 
  transition: transform 0.2s; /* Transición suave para el efecto de hover */
}

/* Estilo para el botón de eliminar */
button[color="warn"] {
  background-color: #f44336; 
  color: white; 
  border-radius: 4px; 
}

/* Estilo para el botón de actualizar */
button[color="primary"] {
  background-color: #3f51b5; 
  color: white; 
  border-radius: 4px; 
}

/* Efecto hover para los botones */
button:hover {
  transform: scale(1.1); 
}
