<div>
    <h2>Agregar Tarea</h2>
    <form (ngSubmit)="agregarTarea()">
      <mat-form-field appearance="fill">
        <mat-label>Nombre de la tarea</mat-label>
        <input placeholder="Escribe aquí..." matInput [(ngModel)]="nombre" name="nombre" required />
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Descripción</mat-label>
        <input matInput [(ngModel)]="descripcion" name="descripcion" required />
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit">Agregar Tarea</button>
    </form>
    <p *ngIf="mensaje">{{ mensaje }}</p>
  </div>