div {
  margin-top: 100px;
  max-width: 650px; 
  margin: 20px auto; /* Centra el formulario en la página */
  padding: 20px; 
  border-radius: 8px; 
  box-shadow: 0 2px 10px rgba(0, 0, 0.2, 0.5); /* Sombra para dar profundidad */
  background-color: #ffffff; 
}

/* Estilo para el título del formulario */
h2 {
  text-align: center; 
  color: #3f51b5; 
  margin-bottom: 20px; 
}

/* Estilo para los mensajes */
p {
  text-align: center; 
  color: #f44336; 
  font-weight: bold; 
  margin-top: 15px; 
}

/* Estilo para los campos de entrada */
mat-form-field {
  width: 100%; 
  margin: 16px 0; /* Espaciado vertical entre campos */
  min-height: 64px ; /* Asegura que el campo tenga suficiente altura para evitar superposiciones */
}

/* Estilo para el label */
.mat-form-field .mat-label {
  transition: 0.2s ease all; 
}

/* Estilo para el input cuando está enfocado */
.mat-form-field input:focus + .mat-label,
.mat-form-field input:not(:placeholder-shown) + .mat-label {
  transform: translateY(-20px) scale(0.75); /* Mueve el label hacia arriba al enfocar */
  color: #3f51b5; /* Cambia el color del label al enfocar */
}


/* formulario.component.css */
.success-message {
  color: green; 
  font-weight: bold; 
  text-align: center; /* Centra el texto */
  margin-top: 20px; 
}

.error-message {
  color: red; 
  font-weight: bold; 
  text-align: center; 
  margin-top: 20px; 
}

/* Estilo para el botón */
button {
  width: 100%; 
  margin-top: 10px; 
  background-color: #000000!important;
  color: #ffffff!important;
  border: none; 
  border-radius: 4px; 
  padding: 10px; 
  font-size: 16px; 
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
}

/* Efecto hover para el botón */
button:hover {
  background-color: #1e88e5!important;
}

