<h3>Agregar Tarea</h3>

<form (ngSubmit)="agregarTarea()" #tareaForm="ngForm">
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input 
            [(ngModel)]="nombre" 
            type="text" 
            class="form-control" 
            id="nombre" 
            name="nombre" 
            required>
    </div>
   
    <div class="mb-3">
        <label for="descripcion" class="form-label">Descripción</label>
        <input 
            [(ngModel)]="descripcion" 
            type="text" 
            class="form-control" 
            id="descripcion" 
            name="descripcion" 
            required>
    </div>

    <button type="submit" [disabled]="tareaForm.invalid">Agregar</button>
</form>